* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.card {
    background-color: transparent;
    perspective: 1000px;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 600ms;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
background-color: #bbb;
color: black;
}

.card-back {
transform: rotateY(180deg);
}

.\30 .card-back {
    background-color: purple;
}
.\31 .card-back {
    background-color: yellow;
}
.\32 .card-back {
    background-color: red;
}
.\33 .card-back {
    background-color: green;
}
.\34 .card-back {
    background-color: blue;
}
.\35 .card-back {
    background-color: pink;
}

.flipCard .card-inner{
    transform: rotateY(180deg);
}

.matched {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.8s, visibility 2.5s;
}